.navigation-bar {
<<<<<<< HEAD
    width: 100%;
    height: 60px;
    background-color: #8a8a8a;
  }
  .navigation-links a {
    text-decoration: none;
    font-size: 50px;
    font-family: monospace;
    color: grey;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  .logo {
    margin: -15px;
    margin-left: -20px;
    width: 115px;
  }